{{# partial "content" }}
<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <h2>Scala.moscow</h2>

        <p class="paragraph paragraph_middle">
        Несколько интересных ссылок о Scala по-русски:
        <ul>
            <li><a href="http://scalalaz.ru/">scalalaz подкаст</a></li>
            <li><a href="http://www.meetup.com/Scala-Moscow/">Scala Moscow meetup</a></li>
            <li><a href="https://telegram.me/scala_ru">telegram канал scala_ru</a></li>
            <li><a href="https://www.facebook.com/groups/552831821450933/">Moscow Scala Usergroup в facebook</a></li>
            <li><a href="https://github.com/dev-ua/scala">Gitter чат dev-ua/scala</a></li>
            <li><a href="http://bit.ly/scalachat">ScalaChat в Skype</a></li>
            <li><a href="https://groups.google.com/forum/#!forum/scala-russian">Google группа «Scala в России»</a></li>
            <li><a href="http://habrahabr.ru/hub/scala/">Scala hub на Хабрахабре</a></li>
        </ul>
        </p>

        <p class="paragraph paragraph_middle" style="padding-top: 15px;">
        Если хотите, напишите мне письмо - <a href="mailto:public@scala.moscow">Никита, public@scala.moscow</a>.
        </p>
    </div>
</div>
{{/partial}}
{{> layout/base pages.main }}
