<!DOCTYPE HTML>
<html lang="ru">
<head>
    <title>{{title}}</title>
    <meta charset="utf-8"/>
    <link rel="stylesheet" href="{{assets.path}}/bootstrap/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="{{assets.path}}/css/main.css"/>
    {{#block "head" }}{{/block}}
</head>

<body>

<div class="container">
{{#block "content" }}{{/block}}
</div>

{{#block "footer" }}{{/block}}
</body>
</html>
