<!DOCTYPE HTML>
<html lang="ru">
<head>
    <title>{{title}}</title>
    <meta charset="utf-8"/>
    {{#block "head" }}{{/block}}
</head>

<body>
{{#block "content" }}{{/block}}
{{#block "footer" }}{{/block}}

<p>Copyright: (c) {{copyright.year}}</p>
</body>
</html>
