<!DOCTYPE HTML>
<html lang="ru">
<head>
    <title>{{this.title}}</title>
    <meta charset="utf-8"/>
    {{#block "head" }}{{/block}}
</head>

<body>
{{#block "content" }}{{/block}}
{{#block "footer" }}{{/block}}
</body>
</html>
